name: Build
permissions: {}
on:
  pull_request:
    paths-ignore:
    - '**.md'
  push:
    branches-ignore:
    - dependabot/**
    paths-ignore:
    - '**.md'
    tags:
    - v*
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        required: false
        default: false
      gosystem:
        description: Go system
        type: choice
        options: 
          - darwin_amd64
          - darwin_arm64
          - linux_amd64
          - linux_arm64
          - windows_amd64
          - windows_arm64
          - all
        default: all
jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        gosystem: >-
          ${{ fromJSON(
            inputs.gosystem == 'darwin_amd64' && '["darwin_amd64"]' || (
            inputs.gosystem == 'darwin_arm64' && '["darwin_arm64"]' || (
            inputs.gosystem == 'linux_amd64' && '["linux_amd64"]' || (
            inputs.gosystem == 'linux_arm64' && '["linux_arm64"]' || (
            inputs.gosystem == 'windows_amd64' && '["windows_amd64"]' || (
            inputs.gosystem == 'windows_arm64' && '["windows_arm64"]' || (
            '["darwin_amd64", "darwin_arm64", "linux_amd64", "linux_arm64", "windows_amd64", "windows_arm64"]'
          ))))))) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: azuwis/actions/nix@main
      with:
        key: nix-${{ matrix.gosystem }}
        debug: ${{ inputs.debug }}
    - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
      with:
        name: azuwis
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - name: Update vendorHash if needed
      env:
        GH_TOKEN: ${{ github.token }}
        GOSYSTEM: ${{ matrix.gosystem }}
      run: |
        FILES=""
        if [ "$GITHUB_EVENT_NAME" = "pull_request" ]; then
          FILES=$(gh api "repos/$GITHUB_REPOSITORY/pulls/${{ github.event.pull_request.number }}/files" --jq '.[].filename')
        elif [ "$GITHUB_EVENT_NAME" = "push" ]; then
          BEFORE_SHA="${{ github.event.before }}"
          AFTER_SHA="${{ github.event.after }}"
          if [ "$BEFORE_SHA" = "0000000000000000000000000000000000000000" ]; then
            FILES=$(gh api "repos/$GITHUB_REPOSITORY/commits/$AFTER_SHA" --jq '.files[].filename')
          else
            FILES=$(gh api "repos/$GITHUB_REPOSITORY/compare/$BEFORE_SHA...$AFTER_SHA" --jq '.files[].filename')
          fi
        fi
        if echo "$FILES" | grep -Fqx go.sum; then
          nix-shell --run update
          git diff
          if [ "$GITHUB_EVENT_NAME" = "push" ] && [ "$GITHUB_REF_NAME" = "master" ] && \
           [ "$GOSYSTEM" = "linux_amd64" ] &&  git diff --name-only | grep -Fqx torrent-ratio.nix; then
            git config --global user.name 'github-actions[bot]'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git commit -m 'nix: Update vendorHash' torrent-ratio.nix
            git push
          fi
        fi
    - name: Build
      env:
        GOSYSTEM: ${{ matrix.gosystem }}
      run: |
        nix-build -A "$GOSYSTEM"
        echo "GOSYSTEM=${GOSYSTEM//_/-}" >> "$GITHUB_ENV"
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: torrent-ratio-${{ env.GOSYSTEM }}
        path: ./result/bin/*
    - uses: azuwis/actions/nix/post@main
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: azuwis/actions/download@main
    - uses: azuwis/actions/release@main
      with:
        files: '*.zip'
